@font-face {
	font-family: 'bebasneue';
	src: url('../fonts/bebasneue-webfont.eot');
	src: url('../fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/bebasneue-webfont.woff2') format('woff2'),
	url('../fonts/bebasneue-webfont.woff') format('woff'),
	url('../fonts/bebasneue-webfont.ttf') format('truetype'),
	url('../fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Global styles */
html{
	overflow-x: hidden;
}
p.browserupgrade{
	background: #f00;
	position: fixed;
	top: 113px;
	z-index: 10000;
	padding: 10px 25px;
	color: #fff;
	left: 50%;
	transform: translate(-50%);
}
html.js .browserupgrade.javascript{
	display: none;
}
img{
	max-width: 100%;
}
ul{
	list-style-image: url('../img/list-item.jpg');
	padding-left: 13px;
}
ul li {
	padding-left: 20px;
}
label{
	font-weight: 500;
	position: relative;
	margin-bottom: 15px;
	vertical-align: top;
}
input[type='text'], input[type="email"], select, textarea{
	border: none;
	padding: 20px;
	background-color: #f6f6f6;
	outline: 2px solid transparent;
	-webkit-transition: outline .2s ease-in-out;
	-o-transition: outline .2s ease-in-out;
	transition: outline .2s ease-in-out;
}
textarea{
	height: 210px;
}
input.filled, select.filled, textarea.filled{
	pointer-events: none;
	background-color: #fff;
	color: #FFB000;
	outline-color: #FFB000;
}
.page.contact .next-step{
	font-size: 20px;
	margin-left: 20px;
}
.page.contact .next-step i.fa{
	margin-left: 20px;
}

input[type='text']:focus, input[type='email']:focus{
	outline: 2px solid #009688;
	border-radius: 0;
}

.select select {
	background: transparent;
	min-width: 107%;
	min-width: calc(100% + 20px);
	padding-right: 60px;
	margin-right: -20px;
	line-height: 1;
	border: 0;
	margin-bottom: 0;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select::-ms-expand {
    display: none;
}
.select {
	display: inline-block;
	padding-right: 20px;
	position: relative;
	background: url(../img/select.jpg) no-repeat right #f6f6f6;
	background-size: auto 100%;
	margin-left: 5px;
}
.select.filled {
	outline: none;
	background: url(../img/select-filled.jpg) no-repeat right #f6f6f6;
}

input[type="radio"], input[type="checkbox"]{
	display: none;
}
input[type="radio"] + label, input[type="checkbox"] + label{
	margin-right: 10px;
	cursor: pointer;
}
input[type="radio"] + label span, input[type="checkbox"] + label span{
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 10px;
	border: 2px solid #bdbdbd;
}
input[type="radio"]:checked + label span, input[type="checkbox"]:checked + label span{
	width: 18px;
	height: 18px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	border: 2px solid #009688;
}
input[type='radio']:checked + label span:before, input[type='checkbox']:checked + label span:before{
	content: '';
	display: block;
	width: 8px;
	margin-top: 3px;
	margin-left: 3px;
	height: 8px;
	vertical-align: middle;
	border-radius: 50%;
	background: #009688;
}

body{
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5{
	font-family: 'bebasneue';
	text-transform: uppercase;
	margin: 0;
}

h2{
	margin-bottom: 10px;
}

.bgc-w{
	background-color: #fff;
}
.bgc-g{
	background-color: #f6f6f6;
}
.bgc-b{
	background-color: #000;
}
.bgc-l{
	background-color: #FEED00;
}

.tc-w{
	color: #fff;
}
.tc-b{
	color: #000;
}
.tc-l{
	color: #FEED00;
}

.tooltip-holder{
	position: relative;
	display: inline-block;
}
.tooltip-holder .tooltipcont{
	width: 200px;
	padding: 20px;
	position: absolute;
	left: 50%;
	display: none;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
	bottom: 30px;
	z-index: 333;
	background-color: #f6f6f6;
	border: 1px solid #eee;
	border-radius: 3px;
}
.tooltip-holder .tooltipcont:after{
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	bottom: -10px;
	background-color: #f6f6f6;
	-webkit-transform: translate(-50%) rotate(45deg);
	-ms-transform: translate(-50%) rotate(45deg);
	-o-transform: translate(-50%) rotate(45deg);
	transform: translate(-50%) rotate(45deg);
	border: 1px solid #eee;
	border-width: 0px 1px 1px 0px;
}
.tooltip-holder:hover .tooltipcont{
	display: block;
}

form div.error {
	position: relative;
	text-align: center;
	padding: 1rem 0.8rem;
	background-color: #fff;
	color: #ff0042;
	border: 2px solid #ff0042;
	font-size: 1.3rem;
	z-index: 100;
	margin-top: 15px;
}

.gender{
	display: inline-block;
}

.gender label{
	margin-top: 17px;
}

form div.error:before, form div.error.popup:after {
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	top: -9px;
	left: 50%;
	display: block;
	-webkit-transform: translate(-50%) rotate(-135deg);
	-ms-transform: translate(-50%) rotate(-135deg);
	-o-transform: translate(-50%) rotate(-135deg);
	transform: translate(-50%) rotate(-135deg);
	border-width: 0px 2px 2px 0px;
	border-style: solid;
	border-color: #ff0042;
	background-color: #fff;
}


/* Styles */

.page h1{
	margin-bottom: 30px;
}
.page .content{
	padding-top: 60px;
}

.page.tips .content iframe{
	width: 100%;
	height: 100%;
}

.navbar{
	border: none;
}
.navbar-brand{
	padding: 5px;
	height: auto;
}
.navbar-brand img{
	max-height: 80px;
}
.navbar .nav{
	text-transform: uppercase;
	font-family: 'bebasneue', sans-serif;
}
.navbar .pull-right{
	margin-right: -25px;
}
.navbar .nav a{
	color: #000;
	font-size: 25px;
	padding: 0 25px;
	line-height: 90px;
}
.navbar .nav .active a{
	color: #fff;
}
.navbar .nav>li>a:hover, .navbar .nav>li>a:focus{
	background: transparent;
	color: #fff;
}

.nav-tabs.nav-justified>li>a{
	margin-bottom: 0;
	border: none;
	border-bottom: 10px solid #FEED00;
	border-radius: 0;
	background: #f6f6f6;
	padding-top: 20px;
	padding-left: 60px;
	padding-bottom: 20px;
	font-family: 'bebasneue', sans-serif;
	text-align: left;
	color: #000;
	font-size: 36px;
}
.nav-tabs.nav-justified>li>a>span{
	font-size: .5em;
	display: block;
}
.navbar-nav>li{
	padding-left: 0;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
	background-color: #FEED00;
	border: none;
	color: #fff;
	border-bottom: 10px solid #FEED00;
}
.nav-tabs.nav-justified>.active>a>span, .nav-tabs.nav-justified>.active>a:focus>span, .nav-tabs.nav-justified>.active>a:hover>span{
	color: #000;
}
.nav-tabs.nav-justified>li{
	padding-left: 0;
}
.header-background #page-title{
	position: absolute;
	width: 100%;
	top: 270px;
	margin: 0;
	font-size: 90px;
	z-index: 2;
}
.header-background{
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 660px;
	position: relative;
}
.header-background>.container{
	position: relative;
	height: 100%;
}
.header-background>.container .same-height{
	position: absolute;
	width: 100%;
	bottom: 10px;
}
.header-background>.container .same-height>div{
	padding: 40px 60px;
}
.header-background>.container .same-height>div.video{
	padding: 0;
}
.header-background>.container .same-height>div.video iframe{
	width: 100%;
	height: 100%;
}
.header-background>.container .same-height>div h2{
	margin-bottom: 20px;
	color: #000;
}
.header-background>.container .same-height>div ul li{
	margin-bottom: 5px;
}

div.lottobal{
	position: relative;
}
div.lottobal img{
	position: absolute;
	width: 85%;
	left: 7.5%;
	bottom: 0;
}

.header-background>.container .same-height>div:first-child:after{
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 10px;
	left: 80px;
	z-index: 3;
	background-color: #fff;
	border-width: 0 4px 4px 0;
	border-color: #FEED00;
	border-style: solid;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.header-background>.container .same-height>div:first-child:before{
	content: '';
	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: -20px;
	z-index: 2;
	left: 70px;
	background-color: #fff;
	-webkit-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 6px 6px 12px 0px rgba(0,0,0,0.2);
	box-shadow: 8px 8px 12px 0px rgba(0,0,0,0.10);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.nav-tabs.nav-justified>li.active:after{
	content: '';
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: -18px;
	left: 87px;
	background-color: #FEED00;
	-webkit-transform: rotate(45deg) translate(-50%);
	-ms-transform: rotate(45deg) translate(-50%);
	-o-transform: rotate(45deg) translate(-50%);
	transform: rotate(45deg) translate(-50%);
}


.nav-tabs.nav-justified>li:first-child:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	z-index: 2;
	right: 100%;
	position: absolute;
	background: #f6f6f6;
	border-bottom: 10px solid #FEED00;
}
.nav-tabs.nav-justified>li:last-child:before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	z-index: 2;
	left: 100%;
	position: absolute;
	background: #f6f6f6;
	border-bottom: 10px solid #FEED00;
}

.nav-tabs.nav-justified>li.active:first-child:before {
	background: #FEED00;
}
.nav-tabs.nav-justified>li.active:last-child:before {
	background: #FEED00;
}

.tab-content{
	padding-top: 50px;
}
.nav-tabs.nav-justified.row{
	width: initial!important;
}
.container.hartstocht .content{
	padding: 60px 40px;
	padding-bottom: 120px;
}
.container.hartstocht .content ul{
	list-style-image: url('../img/list-item-b.jpg');
}

.temp-show{position:absolute !important; visibility:hidden !important; display:block !important;}

.container.hartstocht .content h2{
	margin-bottom: 20px;
}

.controleer-balk{
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 20px;
	margin-bottom: 15px;
}

.controleer-balk i{
	font-size: 20px;
	padding-top: 3px;
}

.fa.fa-info{
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 22px;
	background: #8f8f8f;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
}

.next-step, .button {
	background: #FEED00;
	font-family: 'bebasneue';
	display: inline-block;
	color: #333;
	font-size: 33px;
	line-height: 50px;
	padding: 0;
	border: 0;
	padding-left: 20px;
	cursor: pointer;
}

.controleer{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #FEED00;
	color: #000;
	cursor: pointer;
	display: block;
	float: left;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'bebasneue';
}

.margin-extra-bottom{
	margin-bottom: 40px;
}

.verplicht{
	margin-top: 10px;
	margin-bottom: 10px;
}

.next-step i.fa, .button i.fa{
	margin-left: 180px;
	width: 50px;
	color: #fff;
	background: #F0E000;
	text-align: center;
	line-height: 50px;
	height: 50px;
}
.button i.fa{
	margin-left: 20px;
}

.button.hartstocht{
	margin-left: 20px;
	background-color: #db2628;
	color: #fff;
}
.button.hartstocht i{
	background-color: #a01d21;
}

.button sup{
	font-size: 60%;
}


.panel-group .panel{
	border-radius: 0;
	border: 0;
}
.panel-default>.panel-heading{
	padding: 0;
}
.panel-default>.panel-heading a{
	display: inline-block;
	line-height: 50px;
	padding-left: 20px;
	font-family: 'Roboto';
	text-transform: none;
	width: 100%;
	border-radius: 0;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-top: 0;
}
.panel-default>.panel-heading a span{
	width: 50px;
	height: 50px;
	background-color: #e6e6e6;
	text-align: center;
	font-family: 'Roboto';
	font-size: 30px;
	color: #fff;
}

.beveiligingscode{
	display: inline-block;
	font-size: 24px;
	background: #bdbdbd;
	border: 1px solid #000;
	padding: 1px 17px;
	margin-bottom: 10px;
	height: 40px;
	line-height: 40px;
}

.select.locatie{
	width: 90%!important;
	vertical-align: middle;
}
#locatieshift_refresh{
	font-size: 20px;
	margin: 15px;
	vertical-align: middle;
}
.beveiliging-refresh{
	height: 40px;
	width: 40px;
	line-height: 40px;
	vertical-align: top;
	margin-left: 7px;
	display: inline-block;
	text-align: center;
	background-color: #ebebeb;
	color: #000;
	font-size: 25px;
}
.beveiliging-refresh:hover,
.beveiliging-refresh:active{
	color: #666;
}

.container.faq{
	margin-top: 75px;
	margin-bottom: 75px;
}

.morefaq{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	border: 2px solid #FEED00;
	margin-top: 5px;
	display: block;
	color: #000;
	font-size: 16px;
}
.morefaq i{
	width: 50px;
	height: 50px;
	display: block;
	background-color: #FEED00;
	text-align: center;
	line-height: 50px;
	font-size: 30px;
	color: #fff;
	margin-top: -2px;
	margin-right: -2px;
}

.video-container iframe{
	width: 100%;
	height: 100%;
}
.video-container .row{
	height: 100%;
}

footer{
	border-top: 20px solid #FEED00;
}

footer .links{
	padding-top: 20px;
	padding-bottom: 20px
}
footer .links a{
	font-family: 'bebasneue';
	text-transform: uppercase;
	font-size: 20px;
}
footer .links .container .row>div{
	text-align: center;
}
footer .links .container .row>div:first-child{
	text-align: left;
}
footer .links .container .row>div:last-child{
	text-align: right;
}

footer .social-contact i{
	width: 25px;
	height: 25px;
	background-color: #000;
	margin-right: 5px;
	border-radius: 50%;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
}

footer a.phone{
	padding-left: 20px;
	margin-left: 20px;
	border-left: 2px solid #000;
	margin-right: 5px;
}

footer .mobile-block{
	display: inline-block;
}

footer .vergunning{
	margin-top: 10px;
}

footer .footer-left{
	margin-top: 25px;
}

footer .footer-right{
	padding-top: 15px;
}

footer a.sumedia{
	font-family: 'Georgia';
	font-weight: bold;
	display: inline-block;
	color: #9c9c9c;
	padding: 15px 30px;
	padding-bottom: 20px;
	background-color: #f6f6f6;
	float: right;
	margin-top: 10px;
	text-decoration: none!important;
}
footer a.sumedia:hover, footer a.sumedia:active{
	text-decoration: none;
}

.navbar-toggle .icon-bar{
	background-color: #fff;
}

form label.col-xs-12 .select{
	width: 100%;
	margin-left: 0;
}


@media screen and (max-width:  1024px){
	.header-background>.container .same-height>div{
		padding: 40px 30px;
	}
	.header-background>.container{
		width: 100%;
	}
	.header-background>.container .same-height>div h2{
		font-size: 26px;
	}
	.header-background>.container .same-height>div ul li{
		padding-left: 10px;
		margin-bottom: 3px;
	}
	div.lottobal img {
		position: static;
		margin-top: 30px;
	}
}

@media screen and (max-width: 768px){
	.header-background{
		height: auto;
		background-size: 115%;
		background-repeat: no-repeat;
		background-position: center top;
	}
	.header-background>.container .same-height{
		position: static;
		width: auto;
	}
	.header-background #page-title{
		position: static;
		padding-top: 60px;
		padding-bottom: 25px;
		font-size: 55px;
	}
	.nav-tabs.nav-justified>li.active:nth-child(2)>a {
		display: block;
	}
	.nav-tabs.nav-justified>li:nth-child(2)>a {
		display: none;
	}
	div.lottobal img{
		width: 100%;
		position: static;
	}
	.header-background>.container .same-height>div{
		height: auto!important;
	}
	.nav-tabs.nav-justified>li:last-child:before{
		display: none;
	}
	.navbar .nav a {
		color: #000;
		font-size: 25px;
		padding: 0 25px;
		line-height: 1.6em;
	}
	.navbar .pull-right{
		float: none!important;
		margin-right: -15px;
		text-align: center;
	}
	.navbar-brand img{
		max-height: 40px;
	}
	body{
		padding-top: 40px!important;
	}
	.next-step{
		width: 100%;
		margin-bottom: 10px;
	}
	.next-step i.fa{
		float: right;
		margin-left: 0;
	}

	.video-container{
		height: auto!important
	}
	.container.hartstocht .content{
		height: auto!important;
		padding: 20px 25px;
	}
	footer .links .container .row>div:first-child{
		text-align: center;
	}
	footer .links .container .row>div:last-child{
		text-align: center;
	}

	.mobile-block{
		display: block;
	}
	.select{
		margin-left: 0;
		width: 100%;
		margin-top: 15px;
	}
	footer .pull-right{
		float: left!important;
		margin-top: 17px;
	}
	.morefaq i{
		display: none;
	}
	.panel-default>.panel-heading a span{
		display: none;
	}
	.panel-group{
		margin-bottom: 5px;
	}

	.same-heightcontent>div{
		height: auto!important;
	}
}
