<?php
$body = <<<EOD
<table width="600" border="0" align="center" cellspacing="0" cellpadding="0">
<tr>
<td>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td>
        <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#ffffff; padding: 0; margin: 0;">
        <tr>
        <td>
            <table width="600" height="48" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#ffd50f; padding: 0; margin: 0;">
            <tr>
            <td  width="32" height="48">
            &nbsp;
            </td>
            <td  width="87" height="48">
            <img border="0" alt="Lotto" src="lottowin.png" width="87" height="48">
            </td>

            <td  width="335" height="48">
            &nbsp;
            </td>

            <td valign="center" width="146" height="48" style="text-align: left;">
            <img border="0" alt="Zondag 29 maart 2016" src="datum1.png" width="130" height="14">
            </td>
            </tr>
            </table>

            <table width="600" height="182" border="0" cellspacing="0" cellpadding="0" align="center" style="padding: 0; margin: 0;">
            <tr>
            <td>
            <img border="0" alt="Foto" src="foto1.png" width="600" height="182">
            </td>
            </tr>
            </table>

            <!--tabel voor titel-->
            <table width="600" height="82" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#ffd50f; padding: 0; margin: 0;">
            <tr>
            <td valign="center" width="300" height="75" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#ffd50f; padding: 0; margin: 0;">
            <img border="0" alt="Lotto schaatsdag" src="lottoschaatsdag.png" width="231" height="19">
            </td>

            <td width="300" height="75" border="0" cellspacing="0" cellpadding="0" valign="center" align="left" style="background:#ffffff; padding-left: 15px; margin: 0;">
            <img border="0" alt="Onderwerpen" src="onderwerpen1.png" width="207" height="45">
            </td>
            </tr>

            <tr>
            <td width="300" height="7" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#ffd50f; padding: 0; margin: 0;">

            </td>

            <td width="300" height="7" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#ffd50f; padding: 0; margin: 0;">

            </td>
            </tr>

            </table>


            <!--tabel voor content-->
            <table width="600" height="560" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#ffffff; padding: 0; margin: 0;">
            <tr width="600" height="50">
            <td width="50" height="50">&nbsp;
            </td>
            <td width="500" height="50">&nbsp;
            </td>
            <td width="50" height="50"> &nbsp;
            </td>
            </tr>

            <tr width="600" height="460">
            <td width="50" height="460"> &nbsp;
            </td>
            <td width="500" height="460" valign="center" style="text-align: left; font-family: Helvetica, Arial; font-size: 12px; font-style: normal; font-weight: normal; color: #000000; line-height: 18px;">
            Beste deelnemer aan de Lotto Schaatsdag,<br>
				<br>
				Hartelijk dank voor je aanmelding voor de Lotto Schaatsdag op zondag 20 maart. Door middel van deze e-mail brengen we je op de hoogte van alle praktische informatie.<br>
				<br>
Je hebt je ingeschreven voor vrij schaatsen in {{LS_NAAM}}.<br>
In de bevestigingsmail, die je na je inschrijving hebt ontvangen, is een verkeerde begintijd vermeld. Je bent al eerder welkom! Hieronder vind je het volledige programma voor de Lotto Schaatsdag.<br>
<br>
{{PROGRAMMA}}
<br>
				<span style="font-weight: bold;">Let op:</span><br>
				{{TWENTE}}
				<li>Neem je <b>bevestigingsemail</b> mee. Let op! Dat is niet dit bericht, maar de mail die je eerder over je inschrijving hebt ontvangen.</li>
				<li>Vergeet je schaatsen niet. Wil je graag schaatsen huren? De schaatsverhuur is de gehele dag geopend voor deelnemers aan de Lotto Schaatsdag.</li>
				<li>Trek warme kleding aan.</li>
            <br>
				<br>
<b>Het adres van de schaatsbaan is:</b><br>
{{ADRES}}
<br>
Wij kijken ernaar uit je te mogen ontvangen op de Lotto Schaatsdag 2016!<br>
<br>
<b>Heb je nog vragen?</b><br>
Bel dan gratis naar 0800-1520. Wij staan voor je klaar op werkdagen van 9.00 uur tot 19.00 uur en op zaterdag van 12.00 uur tot 16.00 uur. Mocht je onverhoopt verhinderd zijn, stuur ons dan alsjeblieft een e-mail naar <a href="mailto:info@lottoschaatsdag.nl" target="_blank" attr="email" style="text-decoration:none; font-family: Helvetica, Arial; font-size: 12px; font-style: normal; font-weight: normal; color: #000000; line-height: 18px">info@lottoschaatsdag.nl</a> om je af te melden voor de Schaatsdag.<br>
<br>
Wij wensen je alvast heel veel plezier!<br>
<br>
Met vriendelijke groet,<br>
Organisatie Lotto Schaatsdag 2016<br>

            </td>
            <td width="50" height="460">
            </td>
            </tr>

            <tr width="600" height="50">
            <td width="50" height="50"> &nbsp;
            </td>
            <td width="500" height="50"> &nbsp;
            </td>
            <td width="50" height="50"> &nbsp;
            </td>
            </tr>
            </table>


            <!--tabel voor aanmelden-->
            <table width="600" height="275" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#f6f6f6; padding: 0; margin: 0;">
            <tr>
            <td width="300" height="230" style="background:#ffffff;">
             <img border="0" alt="Bal"  src="ballie.jpg" width="300" height="210">
            </td>

            <td width="300" height="230" align="center" valign="center" style="text-align: left; font-family: Helvetica, Arial; font-size: 10px; font-style: normal; font-weight: normal; line-height: 16px; padding:0 22 0 0">
          <ul style="color:#ffd50f;"><br>
            <li><span style="color: #000000;">Tijdens de Lotto Schaatsdag organiseert de Hartstichting samen met Lotto de Hartstocht. Na je clinic of vrij schaatsen kun je je inzetten om geld bij elkaar te schaatsen voor het hart. </span></li>
            <li><span style="color: #000000;">Maak nu je persoonlijke actiepagina aan voor jouw Hartstocht en laat je sponsoren door familie, vrienden en collega's.</span></li>
            <li><span style="color: #000000;">Onder alle deelnemers aan de Hartstocht die tenminste &euro;25,- aan sponsorgeld ophalen, verloten we tien Futurumshop cadeaukaarten t.w.v. &euro;50,-.</span></li>
</ul>
            </td>
            </tr>


            <tr>
            <td width="300" height="45" style="background:#ffffff;">

            </td>

            <td width="300" height="45" style="background:#ffd50f" align="center" valign="center">
            <a href="https://actie.hartstichting.nl/hartstochtschaatsen" target="_blank" style="text-decoration:none; display:inline-block; position:relative;">
            <img border="0" alt="direct aanmelden"  src="meerinfo1.png" width="300" height="45"></a>
            </td>
            </tr>
            </table>
				<br>

            <!--tabel voor footer-->
            <table width="600" height="48" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#000000; padding: 0; margin: 0;">
            <tr>
            <td width="30" height="48">
            &nbsp;
            </td>

            <td width="169" height="48" valign="center">
            <img border="0" alt="Speel bewust" src="speelbewust.png" width="169" height="25">
            </td>

            <td width="328" height="48">
            &nbsp;
            </td>

            <td width="43" height="48" valign="center">
            <img border="0" alt="Lotto" src="lotto.png" width="43" height="34">
            </td>

            <td width="30" height="48">
            &nbsp;
            </td>
            </tr>
            </table>

            <!--tabel voor social-->
            <table width="600" height="55" border="0" cellspacing="0" cellpadding="0" align="center" style="background:#ffffff; padding: 0; margin: 0;">
            <tr>

            <td width="30" height="55">
            &nbsp;
            </td>

            <td width="30" height="55" valign="center">
            <a href="https://www.facebook.com/Lotto" target="_blank" style="text-decoration:none; display:inline-block; position:relative;">
                <img border="0" alt="Facebook" src="fb.png" width="30" height="30">
            </a>
            </td>

            <td width="10" height="55">
            &nbsp;
            </td>

            <td width="30" height="55" valign="center">
            <a href="https://twitter.com/Lotto_nl" target="_blank" style="text-decoration:none; display:inline-block; position:relative;">
                <img border="0" alt="Twitter" src="twitter.png" width="30" height="30">
            </a>
            </td>

            <td width="30" height="55">
            &nbsp;
            </td>

            <td width="4" height="55" valign="center">
            <img border="0" alt="streep" src="streep.png" width="3" height="30">
            </td>

            <td width="30" height="55">
            &nbsp;
            </td>

            <td width="30" height="55" valign="center">
            <img border="0" alt="Telefoon" src="telefoon.png" width="30" height="30">
            </td>

            <td width="15" height="55">
            &nbsp;
            </td>

            <td width="391" height="55" valign="center" style="text-align: left; font-family: Helvetica, Arial; font-size: 12px; font-style: normal; font-weight: normal; color: #000000;">
            Kom je er niet uit? Bel voor informatie <span style="text-decoration:none; font-weight: bold;">0800-1520</span> (gratis)
            </td>
            </tr>
            </table>

        </td>
        </tr>
        </table>

    <!--tabel wordt hier afgesloten-->
    </td>
    </tr>
    </table>
</td>
</tr>
</table>
EOD;
